body {
    background-color: #e3f2fd;
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;
}
.header {
    display: flex;
    background-color: #777;
    padding: 20px;
    height: 20%;
}
.header .logo .logoButton {
    height: 40px;
    width: 120px;
    border: 0;
    background-size: 100% 100%;
    background-image: url("images/logo.png");
    border-radius: 5px;
    margin-left: 16px;
    cursor: pointer;
}
.header .logo .logoButton:hover {
    color: #87CEFA;
    box-shadow: 0 0 10px #87CEFA;
}
.header .title {
    flex: 1;
    text-align: center;
    font-size: 35px;
    font-weight :bold;
    color: #e3f2fd;
}
.header .signIn .loginButton {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 0px;
    background-color: #e3f2fd;
    margin-right: 16px;
    cursor: pointer;
}
.header .signIn .loginButton:hover, .header .signIn .loginButton:focus {
    background-color: #87CEFA;
}
.header .dropbtn {
    background-color: #e3f2fd;
    color: #666;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 16px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.header .dropbtn:hover, .header .dropbtn:focus {
    background-color: #87CEFA;
}

.welcome {
    padding-top: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #666;
    height: 6%;
}
.mainTab {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 78%;
    width: 50%;
    //border: 2px solid black;
    margin: 20px 30px 30px 30px;
}
.mainTab .menu {
    display: flex;
    //border: 1px solid red;
    height: 8%;
}
.mainTab .menu button {
    float: left;
    height: 100%;
    width: 200px;
    border: 1px solid #B0E0E6;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #666;
    color: #e3f2fd;
}
.mainTab .operation{
    flex: 1;
    border: 1px solid #666;
    box-sizing: border-box;
    display: none;
}
.operation .operBtnDiv {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.operation .operBtnDiv .operBtn {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #B0E0E6;
    background-color: #666;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 8px;
}
.dossier_class {
    display: flex;
    justify-content: space-between;
    color: #666;
}
.dossier_class .search_block {
    padding: 15px;
    margin: 15px;
    border: 1px solid red;
}
.dossier_class .dossier_data {
    padding: 15px;
    margin: 15px;
    border: 1px solid red;
}
.not_found {
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: orangered;
    padding: 30px;
}
.submit_div {
    text-align: center;
    padding: 10px;
}
.submit {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    height: 25px;
    width: 140px;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;
}
.bigSubmit {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.requestMain {
    //flex: 1;
    display: flex;
    justify-content: space-between;
    border: 2px solid #666;
    border-radius: 6px;
    margin: 0px 40px;
    margin-bottom: 20px;
}
.requestMain .requestSearch {
    padding: 15px;
    margin: 15px;
    border: 1px solid #777;
    border-radius: 5px;
}
.requestMain .foundData {
    flex: 1;
    padding: 16px;
}
.activeContainer {
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border: 2px solid #666;
    border-radius: 5px;
    margin: 20px;
}
.elementBox {
    display: flex;
    justify-content: flex-start;
    //border: 1px solid blue;
}
.buttonBox {
    height: 100%;
    //border: 1px solid black;
    padding-top: 15px;
}
.paging {
    height: 100%;
   //border: 1px solid black;
    padding-top: 15px;
    padding-left: 15px;
}
.paging a.active {
    background-color: #87CEFA;
    color: white;
}
.paging a:hover:not(.active) {
    background-color: #87CEFA;
}
.backBtns {
    padding-left: 15px;
}
#reqTable {
    text-align: left;
    padding-right: 30px;
    padding-left: 20px;
    border: 1px solid #666;
}
#reqTable td {
    text-align: left;
    padding: 4px;
}
#all_request {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#all_request td, #all_request th {
  border: 1px solid #ddd;
  padding: 8px;
}

#all_request tr:nth-child(even){background-color: #f2f2f2;}

#all_request tr:hover {background-color: #ddd;}

#all_request th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .menuopt {
    color: #666;
    font-weight: bold;
    min-width: 100px;
    padding: 8px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content .menuopt:hover {background-color: #ddd;}

.show {display: block;}

footer {
    height: 6%;
    background-color: #777;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #e3f2fd;
}