body {
    background-color: #e3f2fd;
    display: flex;
    flex-direction: column;
}
html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
}
h1 {
    color: #666;
    text-align: center;
}
.header {
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: #777;
    padding: 20px;
}
.header .logo .logoButton {
    height: 40px;
    width: 120px;
    border: 0;
    background-size: 100% 100%;
    border-radius: 5px;
    margin-left: 16px;
    cursor: pointer;
}
.header .logo .logoButton:hover {
    color: #87CEFA;
    box-shadow: 0 0 10px #87CEFA;
}
.header .title {
    flex: 1;
    text-align: center;
    font-size: 35px;
    font-weight :bold;
    color: #e3f2fd;
}
.header .dropbtn {
    background-color: #e3f2fd;
    color: #666;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 16px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.header .dropbtn:hover, .header .dropbtn:focus {
    background-color: #87CEFA;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .langopt {
    color: #666;
    font-weight: bold;
    min-width: 100px;
    padding: 8px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content .langopt:hover {background-color: #ddd;}

.show {display: block;}

.header .signIn .loginButton {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 0px;
    background-color: #e3f2fd;
    margin-right: 16px;
    cursor: pointer;
}
.header .signIn .loginButton:hover, .header .signIn .loginButton:focus {
    background-color: #87CEFA;
}
.mainContent {
    flex: 1;
    align-self: center;
}
.mainContent .mainRow {
    padding: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #666;
}
.mainContent .welcome {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #666;
}
.mainContent .newRequest {
    padding-top: 10px;
    text-align: right;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
.mainContent .newRequest .select {
    text-align: center;
    border-radius: 3px;
    border: 2px solid #666;
    min-width: 180px;
    margin: 10px;
}
.newUserButton {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    width: 180px;
    border-radius: 5px;
    color: #666;
    cursor: pointer;
}
.newUserButton:hover, .newUserButton:focus {
    background-color: #87CEFA;
}
.tabContainer {
    width: 50%;
    flex: 1;
    align-self: center;
}
.tabContainer .buttonContainer button {
    width: 50%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #A9ACA8;
    color: #e3f2fd;
}
.tabContainer .tabPanel {
    background-color: gray;
    color: #e3f2fd;
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
    box-sizing: border-box;
    display: none;
}
.tabContainer .tabPanel .login_div {
    text-align: right;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
.input {
    margin: 10px;
    border-radius: 3px;
}
.tabContainer .tabPanel .error_message {
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
    font-style: italic;
    color: red;
}
.tabContainer .tabPanel .submit_div {
    text-align: center;
    padding: 5px;
}
.submit {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    height: 25px;
    width: 160px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.submit:hover {
    color: #444;
    box-shadow: 0 0 10px #444;
}
.register_div {
    flex: 1;
    align-self: center;
    color: #777;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
.splitter {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div_column {
    text-align: right;
    padding-right: 30px;
    padding-left: 30px;
}
.buttons {
    text-align: center;
    padding-top: 20px;
}
.message {
    font-size: 14px;
    font-family: sans-serif;
    font-style: italic;
    color: red;
}
.profReqContent {
    flex: 1;
    align-self: center;
    display: flex;
}
.profTable {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: #666;
    border: 1px solid #666;
    border-radius: 5px;
    margin: 20px;
    padding: 30px 70px 50px 70px;
}
.profTable td {
    text-align: left;
    padding: 6px;
}
footer {
    height: 50px;
    background-color: #777;
    padding: 10px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    color: #e3f2fd;
}
